@model Kartverket.Models.ReportViewModel

@{
    ViewData["Title"] = "Registrert rapport";
    var municipalityCountyNames = (MunicipalityCountyNames?) ViewData["MunicipalityInfo"];
}

<!DOCTYPE html>

    <h1>Rapport registrert</h1>
    <div class="center-horizontal">
        <div id="map" class="styledMap-success"></div>
    </div>
    <div class="center-horizontal">
        <div class="stats-container">
            @if (Model.FirstMessage?.Length >= 1 || Model.@Coordinates?.Length >= 1)
            {
                <form asp-action="RegisterMapReport" asp-controller="Reports" method="post" id="mapForm"> </form>
                <div>
                    <h3>Melding</h3>
                    <p>@Model.FirstMessage</p>
                        <h3>Fylke</h3>
                        <p>@Model.MunicipalityInfo.fylkesnavn</p>
                        <h3>Kommune</h3>
                        <p>@Model.MunicipalityInfo.kommunenavn</p>
                    
                </div>
                <!-- Sørg for å ha høyde på kartet -->
                <div>
                    <h3>Koordinater</h3>
                    <p>@Model.Coordinates</p>
                </div>
            }
            else
            {
                <p>Model er null, kunne ikke vise data.</p>
            }
        </div>
    </div>


@section Scripts {
    <script>
    // Henter kart uten gps og search
    const map = lagKart({ zoomControl: true }, false, false);
    
    // Skru av alt som flytter på kartet 
    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();
    map.boxZoom.disable();
    map.keyboard.disable();
    if (map.tap) map.tap.disable();

    // Hent kartlag fra layout, legg til i kart
    kartLag.Land.addTo(map); 

    // Hent GeoJSON Object fra modellen
    const geoJSONObject = @Html.Raw(Model.StringKoordinaterLag);

    // For feilsøking, logg geoJSONObject
    console.log("GeoJSON: ", geoJSONObject);
    
    // Hvis GeoJSON-data eksisterer, legg til på kartet
    if (geoJSONObject !== null) {
        try {
            // Legg til GeoJSON-laget på kartet
            const geoLayer = L.geoJSON(geoJSONObject).addTo(map);

            // Juster kartets visning til å passe GeoJSON-dataene
            const bounds = geoLayer.getBounds();
            map.fitBounds(bounds);
        } catch (error) {
            console.error("Feil ved parsing av GeoJSON-data:", error);
        }
    } else {
        console.error("Ingen GeoJSON-data funnet");
    }
    
    </script>
}
