<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Kartverket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <link
        rel="stylesheet"
        href="https://unpkg.com/@@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Logo.svg" width="140" class="d-inline-block align-top" alt=""/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark @(ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")"
                           asp-area="" asp-controller="Home" asp-action="Index">Hjem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark @(ViewContext.RouteData.Values["action"]?.ToString() == "HomePage" ? "active" : "")"
                           asp-area="" asp-controller="Home" asp-action="HomePage">Min Side</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark @(ViewContext.RouteData.Values["action"]?.ToString() == "Help" ? "active" : "")"
                           asp-area="" asp-controller="Home" asp-action="Help">Hjelp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark @(ViewContext.RouteData.Values["action"]?.ToString() == "Privacy" ? "active" : "")"
                           asp-area="" asp-controller="Home" asp-action="Privacy">Personvern</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted fixed-bottom bg-light">
    <div class="container flex-row justify-content-between align-items-center p-1" style="display: flex">
        <div class="flex-grow-1 flex-shrink-1">
            &copy; 2024 - Kartverket
        </div>
        <div class="flex-grow-1 flex-shrink-1">
            Mail: <a href="mailto:post@kartverket.no" class="footer-link">post@kartverket.no</a>
        </div>
        <div class="flex-grow-1 flex-shrink-1">
            Telefon: <a href="tel:32118000" class="footer-link">32 11 80 00</a>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
<script src="https://unpkg.com/@@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<script>
    // Lag som viser land eller sjø-kart
    // https://leafletjs.com/examples/wms/wms.html
    // Kartlag som kan hentes fra alle views
    const kartLag = Object.freeze({
        // WMS-lag for Land
        Land: L.tileLayer.wms('https://openwms.statkart.no/skwms1/wms.kartdata?', {
            layers: "kd_arealdekkeflate,kd_veger,kd_bygninger,kd_jernbane,kd_stedsnavn",
            format: 'image/jpeg',
            attribution: 'Kartverket',
            maxZoom: 18,
            tileSize: 512,
            keepBuffer: 5, // Holder på fliser fra tidligere visninger
            maxNativeZoom: 16 // Begrens hvor mye detaljer som lastes inn
        }),

        // WMS-lag for Sjø
        Sjø: L.tileLayer.wms('https://openwms.statkart.no/skwms1/wms.kartdata?', {
            layers: "kd_arealdekkeflate,kd_vannkontur,kd_vannflate,kd_elver,kd_ferger,kd_stedsnavn",
            format: 'image/jpeg',
            attribution: 'Kartverket',
            maxZoom: 18,
            tileSize: 512,
            keepBuffer: 5, // Holder på fliser fra tidligere visninger
            maxNativeZoom: 16 // Begrens hvor mye detaljer som lastes inn
        })
    });
    
    // Instillinger for locate 
    const locateOptions = Object.freeze({
        position: "topleft",
        flyTo: true,
        strings: {
            title: "Hvis meg hvor jeg er",
        }
    })

    //Instillinger for Search
    const searchOptions = {
        geocoder: new L.Control.Geocoder.nominatim({
            geocodingQueryParams: {
                "countrycodes": "No"
            }
        })
    };

    // Lager leaflet map, med kartverk sine kartlag
    // options blir passert til L.map funksjonen
    function lagKart(options = {}, gps = true, search = true) {
        const map = L.map('map', options).setView([59.2839, 11.1096], 14);

        // Setter landkart som standardkart
        kartLag.Land.addTo(map);

        // Legger til sjøkart 
        L.control.layers(kartLag).addTo(map);

        // Legg til leaflet locate funksjon (GPS lokasjon)
        if (gps) L.control.locate(locateOptions).addTo(map);

        //Search Bar Add
        if (search) L.Control.geocoder(searchOptions).addTo(map);

        return map;
    }

</script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>