@model Kartverket.Models.MyPageModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <title>MinSide</title>
</head>
<body class="MyPage">
<div>
    <h1 class="mypage-title">Hva vil du gjøre i dag, <span class="highlight">@Model.Username?</span></h1>
</div>

<!-- Your buttons -->
<div>
    <form asp-controller="Reports" asp-action="MapReport" method="post">
        <button type="submit" class="meld-feil-btn">Meld feil
            <i class="bi bi-map"></i>
        </button>
    </form>
</div>

<div class="leaflet-buttons-control-button">
    <div class="control-icon leaflet-pm-icon-rectangle"></div>
</div>
<div class="leaflet-buttons-control-button">
    <div class="control-icon leaflet-pm-icon-marker"></div>
</div>


<div class="center-horizontal">
    <div class="info-box">
        <h3>Min Informasjon:</h3>
        
        <p><i class="bi bi-person-fill"></i><strong>Brukernavn:</strong> @Model.Username</p>

        <p><i class="bi bi-envelope-fill"></i><strong>E-post:</strong> @Model.Email</p>

        <p><i class="bi bi-telephone-fill"></i><strong>Telefonnummer:</strong> @Model.Phone</p>
    </div>
</div>

<div class="button-group">
    <div class="password-change">
        <form asp-controller="Account" asp-action="ChangePassword" method="get">
            <button id="showPasswordFormBtn" class="btn">Endre passord
                <i class="bi bi-key"></i>
            </button>
        </form>
    </div>

    <div>
        <form asp-controller="Reports" asp-action="ReportOverview" method="get">
            <button class="btn">Mine rapporter
                <i class="bi bi-journal-text"></i>
            </button>
        </form>
    </div>
</div>
<br>
<form asp-controller="Account" asp-action="DeleteUser" method="post" onsubmit="return confirm('Er du sikker på at du vil slette brukeren din?');">
    @Html.AntiForgeryToken()  
    <button type="submit" class="btn-general btn-logout">Slett konto
        <i class="bi bi-trash"></i>
    </button>
</form>

<script>
    // Funksjon for å vise popup
    function showPopup() {
        document.getElementById('deleteConfirmationPopup').style.display = 'block';
    }

    // Funksjon for å lukke popup
    function closePopup() {
        document.getElementById('deleteConfirmationPopup').style.display = 'none';
    }
</script>
</body>
</html>